
<form name="login"  method="post" role="form">
	<div contenteditable="true" style="text-align:center; vertical-align:middel;">
		<button type="submit" class="btn btn-default"style="font-size:18px; ">开始分析</button>
		
			<select class="form-control" id="sentSelect" name="sentSelect" style="font-size:18px; ">
				<option value="fun1">fun1</option>
				<option value="fun2">fun2</option>
			</select>
	</div>

	<div class="form-group" contenteditable="true" 
	style="text-align:center; vertical-align:middel;font-size:12px">

		<textarea name='src' rows="10" cols="50"class="form-control" style="font-size:25px; line-height:25px;" placeholder="请输入文本...">{{src}}</textarea>
	</div>

	<div contenteditable="true" style="text-align:center; vertical-align:middel;">
		<textarea class="form-control" rows="10" cols="50" id="inputText" style="font-size:25px; line-height:25px;">{{result}}</textarea>
	</div>
</form>